[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "==2.5.0"
catboost = "==1.2"
ipywidgets = "==8.0.7"
numpy = "==1.24.4"
pandas = "*"
scipy = "==1.11.1"
prefect = "==2.11.0"
pyarrow = "*"
gcsfs = "*"
google-cloud-storage = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
